.subscribemodalhead h1 {
  font-size: 2.6vw;
  color: white;
  font-weight: 500;
}
.subscribemodalhead p {
  font-size: 1.2vw;
  color: #e2e2e2;
}
.subscribemodalhead {
  width: 40vw;
  text-align: center;
}
.subscribemodalinput {
  width: 50.8vw;
  height: 4.9vw;
  background-color: white;
  border-radius: 4px;
}
.subscribemodalinput input {
  width: 35vw;
  height: 4vw;
  border: none;
  outline: none;
  font-size: 1.2vw;
  color: rgba(25, 36, 69, 0.7);
}
.subscribemodalinput input::placeholder {
  font-size: 1.2vw;
  color: rgba(25, 36, 69, 0.7);
}
.subscribemodalinput button {
  width: 12vw;
  height: 3.5vw;
  font-size: 1.1vw;
  color: white;
  background: linear-gradient(180deg, #ff7d5f 0%, #fe976c 55.21%, #fea875 100%);
  border-radius: 4px;
  border: none;
}
.subscribemodalinput {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.subscribemodalcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vw;
}
