.videoSec {
  width: 100%;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  align-items: flex-start;
  justify-content: space-between;
  gap: 128px;
}

.plyr {
  width: 100% !important;
  height: 100% !important;
}

.plyr [poster] {
  width: 100% !important;
  height: 100% !important;
}

.plyr__controls__item:hover,
.plyr__control:hover {
  background-color: transparent !important;
}

.plyr__menu {
  display: none;
}

.plyr [data-plyr="pip"] {
  display: none;
}

.plyr__control--overlaid {
  display: none !important;
}

.plyr__progress input::-webkit-slider-thumb {
  display: none;
}

.plyr__progress progress {
  display: none;
}

.plyr__progress input::-webkit-slider-runnable-track {
  height: 1vw !important;
  border-radius: 100px !important;
  color: #3a72fa;
}

#plyr-volume-6798::-webkit-slider-runnable-track {
  color: #3a72fa;
}

@media only screen and (max-width: 800px) {
  .videoSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    // margin-top: 10vw;
  }

  .plyr {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 1024px) {
  .videoSec {
    gap: 90px;
  }
}

// .bidSec {
//   display: flex;
//   flex-direction: column;
//   width: 25vw;
// }
.auctionHeading {
  color: white;
  font-size: 4vw;
  font-weight: 600;
}

.profileInfoCardCon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  // margin-top: 2vw;
}
