.container {
  display: flex;
  gap: 1rem;
  // max-width: 45rem;
  height: 15rem;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
  width: 100%;
  margin-bottom: 50px;

  @media screen and (max-width: 800px) {
    max-width: 40rem;
  }

  @media screen and (max-width: 500px) {
    max-width: 23rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.header3 {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}
