.container {
  display: flex;
  gap: 1rem;
  max-width: 45rem;
  height: 15rem;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;

  @media screen and (max-width: 800px) {
    max-width: 40rem;
  }

  @media screen and (max-width: 500px) {
    max-width: 23rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
