.sciCon {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 200px 15%;
  gap: 150px;

  @media screen and (max-width: 1440px) {
    flex-direction: column;
  }

  @media screen and (max-width: 640px) {
    padding: 200px 20px;
  }

  .sci {
    display: flex;
    flex-direction: column;
    gap: 40px;
    // flex: 1;
    width: 60%;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      width: 100%;
    }

    .scihead {
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.02em;
        color: #fcfcfd;

        span {
          display: block;
        }
      }
    }

    .sciuploadseccon {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      .uploadsechead {
        display: flex;
        flex-direction: column;

        .upload {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #fcfcfd;
        }

        .drag {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #777e91;
        }
      }

      .sciuploadbox {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 64px 8px;
        gap: 10px;
        background: #23262f;
        border-radius: 16px;
      }
      .sciuploadbox:hover,
      .sciuploadvideobox:hover {
        z-index: 99;
        cursor: pointer;
      }
    }

    .editor {
      color: white;
      margin-bottom: 2rem;
      margin-top: 10px;

      label {
        color: #666;
        font-size: 12px;
        font-weight: 600;
      }
    }

    .additional {
      display: flex;
      gap: 10px;

      @media screen and (max-width: 640px) {
        flex-wrap: wrap;
      }
    }

    .img {
      img {
        border-radius: 16px;
        object-fit: cover;
      }
      :hover {
        z-index: 99;
      }
    }

    .optional {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 60px 20px;
      gap: 10px;
      background: #23262f;
      border-radius: 16px;
      :hover {
        z-index: 99;
      }
    }

    .itemdetailsformcon {
      display: flex;
      flex-direction: column;
      gap: 32px;

      h4 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fcfcfd;
      }

      .sciuploadvideobox {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 64px 8px;
        gap: 10px;
        background: #23262f;
        border-radius: 16px;
      }
      .sciuploadvideobox:hover {
        z-index: 99;
        cursor: pointer;
      }
      video {
        :hover {
          z-index: 99;
        }
      }

      .itemdetailsforminput {
        display: flex;
        flex-direction: column;
        gap: 12px;

        label {
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 12px;
        }

        input,
        select {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 12px 16px;
          gap: 10px;
          border: 2px solid #353945;
          border-radius: 12px;
          background-color: transparent;
          color: #ffffff;
          height: 48px;
          outline: none;

          ::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
          }

          :focus {
            outline: none;
            color: #fcfcfd;
          }
        }

        select {
          line-height: 30px;
          color: #777e91;

          option {
            color: #777e91;
            background-color: #000000;
          }
        }

        span {
          color: orangered;
        }
      }

      .itemdetailsforminputSearch {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 12px;

        label {
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 12px;
        }

        input,
        select {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 12px 16px;
          gap: 10px;
          border: 2px solid #353945;
          border-radius: 12px;
          background-color: transparent;
          color: #ffffff;
          // height: 48px;
          width: 50%;
          outline: none;

          ::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
          }

          :focus {
            outline: none;
            color: #fcfcfd;
          }
        }

        select {
          line-height: 30px;
          color: #777e91;

          option {
            color: #777e91;
            background-color: #000000;
          }
        }

        span {
          color: orangered;
        }

        .itemImagesDiv {
          position: relative;
          display: flex;
          gap: 8px;
          // overflow-x: scroll !important;
          overflow-y: hidden;
          flex-wrap: wrap;
          max-width: 100%;
          padding: 20px 0;

          div {
            // display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          img {
            border-radius: 12px;
            width: 112px;
            height: 88px;
          }

          .userImage {
            position: relative;
            border: 2px solid #353945;
            width: 112px;
            height: 88px;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;

            .closeIcon {
              position: absolute;
              top: 3px;
              right: 3px;
              cursor: pointer;
              z-index: 9;
            }
          }
        }

        .searchResults {
          position: absolute;
          top: 65px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: #353945;
          z-index: 10;
          padding: 10px;
          border-radius: 12px;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;

          span {
            color: #fcfcfd;
            cursor: pointer;
          }
        }

        .itemImagesDiv::-webkit-scrollbar {
          display: none;
          height: 5px;
        }
      }

      .itemdetailformdropdownsCon {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media screen and (max-width: 640px) {
          flex-direction: column;
        }

        .itemdetailsformdropdown,
        .itemdetailsforminput1 {
          display: flex;
          flex-direction: column;
          gap: 12px;
          width: 100%;

          input,
          select {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 12px 12px 12px 16px;
            gap: 67px;
            border: 2px solid #353945;
            border-radius: 12px;
            background-color: #000000;
            color: #ffffff;
            height: 48px;
          }

          select {
            color: #777e91;
          }

          span {
            color: orangered;
          }

          :focus {
            outline: none;
          }
        }
      }
    }

    .divider {
      height: 1px;
      background: #353945;
    }

    .putonscalesec {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #f2994a;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #f2994a;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }

    .putonscalebtnsec {
      display: flex;
      justify-content: space-between;

      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 12px;
        background: #f2994a;
        color: #fcfcfd;
        border-radius: 90px;
        border: 1px solid #f2994a;
      }

      p {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #fcfcfd;
      }
    }
  }

  .previewCard {
    position: fixed;
    top: 150px;
    right: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 24px;
    background: #141416;
    border: 1px solid #353945;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 16px;
    width: 300px;

    @media screen and (max-width: 640px) {
      width: 70%;
      margin: 0 auto;
    }
    @media screen and (max-width: 1024px) {
      position: relative;
      top: unset;
      right: unset;
    }

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #fcfcfd;
    }

    .previewContent {
      display: flex;
      flex-direction: column;
      gap: 21px;
      width: 100%;

      .collectionsPreview {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px 0;
        width: 100%;

        .mainImgdiv {
          width: 100%;
          position: relative;
          height: 240px;

          .mainImg {
            border-radius: 8px;
            object-fit: cover;
            width: 100%;
          }
        }

        .imagesDiv {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          width: 100%;
          height: 75px;

          .images {
            position: relative;
            height: 75px;
            width: 100%;

            .subImg {
              border-radius: 8px;
              object-fit: cover;
              width: 100%;
            }
          }
        }

        .infoDiv {
          display: flex;
          flex-direction: column;
          width: 100%;

          h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-align: left;
            color: #fcfcfd;
          }

          .bottom {
            display: flex;
            justify-content: space-between;

            .left {
              display: flex;
              gap: 15px;

              .image {
                border-radius: 50%;
              }

              .owner {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #e6e8ec;
              }
            }

            span {
              padding: 8px 8px 6px;
              border: 2px solid #e6e8ec;
              border-radius: 4px;
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 12px;
              text-transform: uppercase;
              color: #fcfcfd;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    .clearsec {
      display: flex;
      gap: 10px;
    }
  }
}

.spinner {
  animation: rotation 2s infinite linear;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}
