.root {
  padding: 100px 10px;

  .bottom {
    margin-top: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .root {
    padding: 100px;
  }
}
@media screen and (max-width: 600px) {
  .root {
    padding: 100px 20px;
  }
}
@media screen and (min-width: 1400px) {
  .root {
    padding: 100px 15vw;
  }
}
