.discoverheading h1 {
  font-size: 2.9vw;
  color: white;
  font-weight: 500;
  padding-left: 4vw;
}
.dtablink {
  font-size: 1.1vw;
  color: #777e91;
}
.discoversec1links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
}
.Filterbtn button {
  width: 8.4vw;
  height: 3.5vw;
  background: #f2994a;
  border-radius: 90px;
  font-size: 1.4vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
}
.Filterbtn button span img {
  width: 1.4vw;
  height: 1.4vw;
}
.discoversec1con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.discoversec1parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discoverdivider {
  width: 90%;
  height: 0.1vw;
  background-color: #353945;
  margin-top: 1.5vw;
}
.discoverdividerwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectlabeldiscover {
  font-size: 1vw;
  color: white;
  padding-left: 0.6vw;
}
.discoversec2con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.discoversec2parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discoverlinkcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dactive {
  font-size: 1.1vw;
  color: white;
  background-color: #353945;
  padding: 0.7vw;
  border-radius: 100px;
}
.discoversec2parent {
  margin-top: 2vw;
}
@media only screen and (max-width: 600px) {
  .discoversec1con {
    flex-direction: column !important;
  }
  .discovercon {
    margin-top: 8vw;
  }
  .Filterbtn button {
    margin-top: 2vw;
  }
  .dactive {
    font-size: 2vw;
    padding: 2vw;
  }
  .dtablink {
    font-size: 2vw;
  }
  .discoversec1links {
    width: 80vw;
  }
  .Filterbtn button {
    width: 20vw;
    height: 7vw;
    font-size: 2vw;
  }
  .Filterbtn button span img {
    width: 3vw;
    height: 3vw;
  }
  .discoversec2con {
    flex-direction: column;
  }
  .selectlabeldiscover {
    font-size: 2.5vw;
    padding-left: 2vw;
  }
}
