.headerCon {
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;

  img {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #777e90;

    :visited {
      color: #fcfcfd;
    }
  }

  .mobile {
    display: none;
  }

  @media screen and (max-width: 640px) {
    .mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      padding: 20px;

      .mobileTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .mobileContent {
        position: absolute;
        top: 120px;
        right: 0;
        transition: 0.9s ease-in-out;
        background-color: #000000;
        z-index: 99;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;

        span {
          font-size: 24px;
          color: #777e90;
          cursor: pointer;
        }

        button {
          background-color: #f2994a;
          padding: 6px;
          cursor: pointer;
          border: 1px solid #f2994a;
          color: #fcfcfd;
          width: 150px;
          cursor: pointer;
          font-size: 20px;
          border-radius: 25px;
        }
      }

      .contentNone {
        display: none;

        span {
          font-size: 24px;
          color: #777e90;
        }

        button {
          background-color: #f2994a;
          padding: 6px;
          cursor: pointer;
          border: 1px solid #f2994a;
          color: #fcfcfd;
          width: 150px;
          font-size: 20px;
          border-radius: 25px;
        }
      }
    }
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    @media screen and (min-width: 1440px) {
      padding: 3px 15%;
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    @media screen and (max-width: 640px) {
      display: none;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      li {
        cursor: pointer;
      }

      hr {
        width: 1px;
        height: 50px;
        border: 1px solid #232323;
        background: #353945;
        border-radius: 2px;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 30px;
        list-style: none;

        li {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #777e91;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 50px;

      button {
        cursor: pointer;
      }

      .search {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 12px 10px 16px;
        gap: 10px;
        border: 2px solid #353945;
        border-radius: 8px;

        input {
          background-color: #000000;
          color: #fcfcfd;
          outline: none;
          border: none;
        }

        img {
          margin-right: 20px;
        }
      }

      .notification {
        display: flex;
        justify-content: flex-end;
        position: relative;
        cursor: pointer;

        .active {
          width: 10px;
          height: 10px;
          background-color: #45b26b;
          border-radius: 8px;
          order: 2;
        }

        .dialog {
          position: absolute;
          top: 70px;
          right: -200%;
        }
      }

      .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 12px;
        background: #4f4f4f;
        border-color: transparent;
        border-radius: 90px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #fcfcfd;
      }

      .btnLight {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 12px;
        background: #f2994a;
        border-radius: 90px;
        border-color: transparent;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #fcfcfd;
      }

      .balanceSec {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        gap: 12px;
        border: 2px solid #353945;
        border-radius: 90px;
        position: relative;
        cursor: pointer;
        width: 6.5rem;

        .amt {
          span {
            color: #45b36b;
          }
        }

        .profile {
          position: absolute;
          top: 70px;
          right: 0%;
        }
      }

      .auth {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #fcfcfd;
        border: 2px solid #777e90;
        padding: 12px 16px;
        border-radius: 90px;

        span {
          cursor: pointer;
        }
      }
    }
  }
}

// @media (max-width: 640px) {

//   .mobile {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     position: relative;
//     padding: 20px;

//     .mobileTop {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//     }

//     .mobileContent {
//       position: absolute;
//       top: 120px;
//       right: 0;
//       transition: 0.9s ease-in-out;
//       background-color: #000000;
//       z-index: 99;
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: 20px;
//       padding: 20px;

//       span {
//         font-size: 24px;
//         color: #777e90;
//       }

//       button {
//         background-color: #f2994a;
//         padding: 6px;
//         border: 1px solid #f2994a;
//         color: #fcfcfd;
//         width: 150px;
//         font-size: 20px;
//         border-radius: 25px;
//       }
//     }

//     .contentNone {
//       position: absolute;
//       top: 120px;
//       right: -120%;
//       transition: 0.9s ease-in-out;
//       background-color: #000000;
//       z-index: 99;
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: 20px;
//       padding: 20px;

//       span {
//         font-size: 24px;
//         color: #777e90;
//       }

//       button {
//         background-color: #f2994a;
//         padding: 6px;
//         border: 1px solid #f2994a;
//         color: #fcfcfd;
//         width: 150px;
//         font-size: 20px;
//         border-radius: 25px;
//       }
//     }
//   }
// }

// @media (min-width: 1440px) {
//   .header {
//     padding: 20px 15vw;
//   }
// }
