.settingformheading h1 {
  font-size: 3.5vw;
  color: white;
  font-weight: 500;
}
.settingformheading p {
  font-size: 1.1vw;
  color: #777e91;
}
.settingformheading p span {
  color: white;
}
.settingformheading {
  line-height: 1.5vw;
  margin-left: 25vw;
  margin-top: 5vw;
}
.settingformsec1profilecard img {
  width: 9.3vw;
  height: 9.3vw;
}
.settingformprofilecardtext h4 {
  font-size: 1.1vw;
  color: white;
  font-weight: 500;
}
.settingformprofilecardtext p {
  font-size: 1vw;
  color: #777e91;
}
.settingformprofilecardtext button {
  width: 5.8vw;
  height: 2.9vw;
  border-radius: 90px;
  border: 2px solid #353945;
  background-color: transparent;
  font-size: 1vw;
  color: white;
}
.settingformprofilecardtext {
  width: 14vw;
}
.settingformsec1profilecard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
}
.itemsetting h4 {
  font-size: 1.1vw;
  color: white;
  font-weight: 500;
}
.itemsettingforminput label {
  font-size: 1vw;
  color: #b1b5c3;
}
.itemsettingforminput input {
  width: 11.7vw;
  height: 3.1vw;
  background-color: transparent;
  border: 2px solid #353945;
  border-radius: 12px;
  color: #777e91;
  font-size: 1vw;
  outline: none;
  margin-top: 0.7vw;
}
.itemsettingforminput input::placeholder {
  color: #777e91;
  font-size: 1vw;
  padding-left: 1vw;
}
.itemsettingforminput {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2vw;
}
.itemsettinginput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 27vw;
}
.turnonnotificationtext h4 {
  font-size: 1.1vw;
  color: white;
  font-weight: 500;
}
.turnonnotificationtext p {
  font-size: 1vw;
  color: #777e91;
}
.turnonnotificationtext {
  line-height: 0.5vw;
  margin-top: 4vw;
}
.settingformsec1content1 h4 {
  font-size: 1.1vw;
  color: white;
  font-weight: 500;
}
.itemsettingforminputsec2 label {
  font-size: 1vw;
  color: #b1b5c3;
}
.itemsettingforminputsec2 input {
  width: 25vw;
  height: 3.5vw;
  background-color: transparent;
  border: 2px solid #353945;
  border-radius: 12px;
  color: #777e91;
  font-size: 1vw;
  outline: none;
  margin-top: 0.7vw;
}
.itemsettingforminputsec2 textarea {
  width: 25vw;
  height: 9.6vw;
  background-color: transparent;
  border: 2px solid #353945;
  border-radius: 12px;
  color: #777e91;
  font-size: 1vw;
  outline: none;
  margin-top: 0.7vw;
  padding-left: 1vw;
  padding-top: 1vw;
}
.itemsettingforminputsec2 input::placeholder {
  color: #777e91;
  font-size: 1vw;
  padding-left: 1vw;
}
.itemsettingforminputsec2 textarea::placeholder {
  color: #777e91;
  font-size: 1vw;
}
.itemsettingforminputsec2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2vw;
}
.settingformsec1content2 h4 {
  font-size: 1.1vw;
  color: white;
  font-weight: 500;
}
.inputcon {
  width: 25vw;
  height: 3.5vw;
  background-color: transparent;
  border: 2px solid #353945;
  border-radius: 12px;
}
.inputcon input {
  width: 15vw;
  height: 2.5vw;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1vw;
  color: #777e91;
}
.inputcon input::placeholder {
  color: #777e91;
  font-size: 1vw;
  padding-left: 1vw;
}
.itemsettingforminputsec2twitter label {
  font-size: 1vw;
  color: #b1b5c3;
}
.itemsettingforminputsec2twitter {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2vw;
}
.inputcon button {
  width: 8.7vw;
  height: 2.3vw;
  font-size: 1vw;
  color: white;
  background-color: transparent;
  border-radius: 90px;
  border: 2px solid #353945;
}
.inputcon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1vw;
}
.addsocialaccountbtn button {
  width: 16.8vw;
  height: 2.9vw;
  background-color: transparent;
  border-radius: 90px;
  border: 2px solid #353945;
  font-size: 1.17vw;
  color: #777e91;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.addsocialaccountbtn button span img {
  width: 1.17vw;
  height: 1.17vw;
}
.addsocialaccountbtn {
  margin-top: 4vw;
}
.socialtext p {
  font-size: 1.1vw;
  color: #777e91;
  width: 25vw;
  margin-top: 3vw;
}
.socialdivider {
  width: 25vw;
  height: 0.1vw;
  background-color: #353945;
  margin-top: 3vw;
}
.clearallsec button {
  width: 12vw;
  height: 3.5vw;
  background-color: #f2994a;
  color: white;
  font-size: 1.17vw;
  border-radius: 90px;
  border: none;
}
.clearallsec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38vw;
  margin-top: 3vw;
}
.settingformcontentcon {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
}
.settingformcontentparent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15vw;
  margin-top: 3vw;
}
.clearsecone img {
  width: 1.7vw;
  height: 1.7vw;
}
.clearsecone p {
  font-size: 1.1vw;
  color: #777e91;
  padding-left: 0.5vw;
}
.clearsecone {
  display: flex;
  align-items: center;
  padding-right: 13vw;
}
@media only screen and (max-width: 600px) {
  .settingformcontentcon {
    flex-direction: column;
    align-items: center !important;
  }
  .settingformsec1profilecard {
    width: 80vw !important;
    padding-right: 4vw !important;
  }
  .settingformsec1profilecard img {
    width: 35vw !important;
    height: 35vw !important;
  }
  .settingformprofilecardtext h4 {
    font-size: 5vw !important;
  }
  .settingformprofilecardtext {
    width: 40vw !important;
  }
  .settingformprofilecardtext p {
    font-size: 4vw !important;
  }
  .settingformprofilecardtext button {
    width: 20vw !important;
    height: 6vw !important;
    font-size: 3vw !important;
  }
  .itemsetting h4 {
    font-size: 4vw !important;
  }
  .itemsettingforminput label {
    font-size: 2vw !important;
  }
  .itemsettinginput {
    width: 80vw !important;
  }
  .itemsettingforminput input {
    width: 35vw !important;
    height: 6.2vw !important;
    font-size: 2vw !important;
  }
  .itemsettingforminput input::placeholder {
    font-size: 2vw !important;
  }
  .settingformcontentparent {
    margin-left: 0 !important;
  }
  .turnonnotificationtext h4 {
    font-size: 4vw !important;
  }
  .turnonnotificationtext p {
    font-size: 2.5vw !important;
  }
  .settingformsec1content1 h4 {
    font-size: 4vw !important;
  }
  .itemsettingforminputsec2 label {
    font-size: 2vw !important;
  }
  .itemsettingforminputsec2 input {
    width: 80vw !important;
    height: 7vw !important;
    font-size: 2vw !important;
  }
  .itemsettingforminputsec2 input::placeholder {
    font-size: 2vw !important;
  }
  .itemsettingforminputsec2 textarea {
    width: 80vw !important;
    height: 20vw !important;
    font-size: 2vw !important;
  }
  .itemsettingforminputsec2 textarea::placeholder {
    font-size: 2vw !important;
  }
  .settingformsec1content2 h4 {
    font-size: 4vw !important;
  }
  .itemsettingforminputsec2twitter label {
    font-size: 2vw !important;
  }
  .inputcon {
    width: 80vw !important;
    height: 7vw !important;
  }
  .inputcon input {
    width: 50vw !important;
    height: 6.5vw !important;
    font-size: 2vw !important;
  }
  .inputcon input::placeholder {
    font-size: 2vw !important;
  }
  .inputcon button {
    width: 20vw !important;
    height: 5vw !important;
    font-size: 2vw !important;
  }
  .addsocialaccountbtn button {
    width: 40vw !important;
    height: 6vw !important;
    font-size: 2.5vw;
  }
  .addsocialaccountbtn button span img {
    width: 2.5vw !important;
    height: 2.5vw !important;
  }
  .socialtext p {
    width: 80vw !important;
    font-size: 3vw;
  }
  .socialdivider {
    width: 80vw !important;
  }
  .clearallsec {
    width: 80vw !important;
  }
  .clearallsec button {
    width: 24vw !important;
    height: 7vw !important;
    font-size: 2.5vw !important;
  }
  .clearsecone img {
    width: 3.4vw !important;
    height: 3.4vw !important;
  }
  .clearsecone p {
    font-size: 3vw !important;
  }
  .settingformheading h1 {
    font-size: 6vw !important;
  }
  .settingformheading p {
    font-size: 3vw !important;
  }
  .settingformheading {
    margin-left: 5vw !important;
    line-height: 3vw !important;
  }
}
