.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  label {
    color: #666;
    font-size: 12px;
    font-weight: 700;
  }
}

.error {
  border-radius: 12px;
  padding: 10px;
  background: #efb4b4;
  padding-bottom: 5px;
  overflow: hidden;
  position: relative;

  .errorMsg {
    color: red;
    bottom: 1px;
  }
}
