.main {
  label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }

  div {
    outline: none !important;
    border: 1px solid #353945;
    border-radius: 12px;
    color: #ffffff;
  }
  input {
    border: 0px solid #353945;
    color: #585f75;
    height: 45px;
    padding: 0;
    outline: none;
    text-indent: 10px;
    width: 100%;
    margin: 0;
  }
  svg {
    color: #ffffff;
  }
}
