.input {
  border: 2px solid #353945;
  border-radius: 12px;
  color: #ffffff;

  div {
    outline: none !important;
    color: #fcfcfd !important;
    border: redpx !important;
  }
  input {
    border: 0px solid #353945;
    color: #585f75;
    height: 45px;
    padding: 0;
    outline: none;
    text-indent: 10px;
    width: 100%;
    margin: 0;
  }
  svg {
    color: #ffffff;
  }
}
