.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }
}

.input {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input {
    border: 2px solid #353945;
    border-radius: 12px;
    background-color: #000;
    color: #ffffff;
    height: 45px;
    padding: 0;
    outline: none;
    text-indent: 10px;
    width: 100%;
    margin: 0;

    ::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }

    :focus {
      outline: none;
      color: #fcfcfd;
    }
  }
}

.error {
  border-radius: 12px;
  padding: 5px 5px;
  background: #efb4b4;
  padding-bottom: 5px;
  span {
    color: red !important;
  }
  input {
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    background: #23262f;
    z-index: 4;
  }
}
