.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }

  select {
    border: 2px solid #353945;
    border-radius: 12px;
    background-color: transparent;
    color: #777e91;

    height: 45px;
    padding: 0;
    margin: 0;
    outline: none;
    text-indent: 10px;
    width: 100%;
    -webkit-appearance: none;

    ::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }

    :focus {
      outline: none;
      color: #fcfcfd;
    }
  }
}
