$grey: #23262f;
$grey2: #353945;

.horizontal {
  position: absolute;
  right: -15px;
  top: 0px;
  border-radius: 20px;
  padding: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}
.main {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  background-color: $grey;
  border-radius: 20px;
  padding: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 15px;
  span:hover {
    cursor: pointer;
  }
}

.love {
  border: 1px $grey2 solid;
  border-radius: 50%;
  padding: 5px;
  height: fit-content;
  display: flex;
  align-items: center;
}
.close {
  @media only screen and (max-width: 700px) {
    display: none;
  }
}
