#demo-multiple-name-label {
    color: white !important;
}
#demo-multiple-name {
    border: 1px solid white !important;
    color: white !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    fill: white !important;
}