.hotitemsbtn button {
  width: 2.9vw;
  height: 2.9vw;
  border: 2px solid #353945;
  border-radius: 40px;
  background-color: transparent;
}
.hotitemsbtn button span img {
  width: 1.02vw;
  height: 0.65vw;
}
.hotitemssec1con h1 {
  font-size: 2.9vw;
  color: white;
  font-weight: 500;
}
.hotitemssec1con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
}
.hotitemssec1parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotitemssec2con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: 3.5vw;
}
.hotitemscon {
  margin-top: 8vw;
}
@media only screen and (min-width: 600px) {
  .hotitemmobileparent {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .hotitemssec1con h1 {
    font-size: 5.8vw;
  }
  .hotitemsbtn button {
    width: 6vw;
    height: 6vw;
  }
  .hotitemsbtn button span img {
    width: 2.2vw;
    height: 1.4vw;
  }
  .hotitemdesktopcon {
    display: none;
  }
}
@media only screen and (max-width: 249px) {
  .hotitemsbtn button span img {
    width: 2.4vw;
    height: 2.4vw;
  }
}
