.notificationModalCon {
  width: 28.9vw;
  height: 39vw;
  margin-right: 6.5vw;
  z-index: 100;
  position: fixed;
  margin-top: -1.2vw;
}
.notificationModal {
  width: 28.9vw;
  height: 36vw;
  // background-color: #141416;
  background-color: #23262F;
  border-radius: 25px;
  padding: 10px;
  overflow-y: scroll;
}
.tooltipicon {
  width: 2.3vw;
  height: 1.17vw;
  margin-bottom: -0.4vw;
}
.tooltipiconcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notificstionmodalcontentsec1 img {
  width: 7.3vw;
  height: 7.5vw;
  border-radius: 10px;
}
.notificationmodalcontentsec2 h4 {
  font-size: 1.2vw;
  color: white;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: -5px;
}
.notificationmodalcontentsec2 p {
  font-size: 0.8vw;
  color: #777e91;
  margin-top: 10px;
}
.notificationmodalcontentsec2 {
  // line-height: 0.4vw;
  margin-left: 1vw;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
// .value{
//   margin-top: 10px;
// }
.acticeNotification img {
  width: 0.8vw;
  height: 0.8vw;
}
.notificationmodalcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 1vw;
}
.container :hover{
background-color: #394051;
cursor: pointer;
}
.notificstionmodalcontentseccon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notificationModalHead h1 {
  font-size: 2.3vw;
  color: white;
  padding-top: 5px;
  font-weight: 500;
}
.notificationModalHead button {
  width: 5.8vw;
  height: 2.9vw;
  background-color: #f2994a;
  font-size: 1.1vw;
  color: white;
  border-radius: 25px;
  border: none;
  outline: none;
  font-weight: 600;
}
.notificationModalHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
}
.icon{
  color: #23262F;
}
@media only screen and (max-width: 600px) {
  .tooltipiconcon {
    display: none;
  }
  .notificationModal {
    width: 80vw;
    height: 65vw;
  }
  .notificationModalHead h1 {
    font-size: 5vw;
    font-weight: 500;
  }
  .notificationModalHead button {
    width: 15vw;
    height: 5vw;
    font-size: 2vw;
  }
  .notificstionmodalcontentsec1 img {
    width: 15vw;
    height: 13vw;
  }
  .notificationmodalcontentsec2 h4 {
    font-size: 2.5vw;
  }
  .notificationmodalcontentsec2 p {
    font-size: 2vw;
  }
  .acticeNotification img {
    width: 1.8vw;
    height: 1.8vw;
  }
  .notificationModalCon {
    width: 80vw;
    height: 65vw;
    margin-right: 0;
    margin-top: 80vw;
  }
}
