.expiredNotice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expiredNotice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expiredNotice > p {
  font-size: 1.5resm;
  padding: 0;
  margin: 0;
}

.showCounter {
  padding-top: 0.5rem;
}

.showCounter .countdownLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
  p {
    margin: 0;
    padding: 0;
  }
  span {
    color: #ebebeb;
  }
}

.showCounter .countdown {
  //   line-height: 1.25rem;s
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.showCounter .countdown.danger {
  color: #ff0000;
}

.showCounter .countdown > p {
  margin: 0;
}

.showCounter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}
