.root {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.7fr;
  gap: 30px;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .image {
      border-radius: 12px;
      object-fit: cover;
    }

    .leftBottom {
      display: flex;
      justify-content: space-between;

      .avatarName {
        display: flex;
        gap: 20px;

        .avatar {
          border-radius: 50%;
        }

        .name {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #fcfcfd;
          }

          .stock {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #e6e8ec;
          }
        }
      }

      .high {
        display: flex;
        flex-direction: column;

        .highest {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #777e91;
        }

        .highEth {
          border: 2px solid #45b36b;
          border-radius: 4px;
          padding: 8px 8px 6px;
          font-weight: 700;
          color: #45b36b;
        }
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      .cardImg {
        border-radius: 12px;
      }

      .cardDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        .cardName {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #fcfcfd;
        }

        .centerDiv {
          display: flex;
          align-items: center;
          gap: 11px;

          .centerDivImg {
            border-radius: 50%;
          }

          span {
            border: 2px solid #45b36b;
            border-radius: 4px;
            padding: 8px 8px 6px;
            font-weight: 700;
            color: #45b36b;
            font-size: 12px;
            line-height: 12px;
          }
        }

        button {
          background: transparent;
          border-radius: 90px;
          color: #fcfcfd;
          padding: 8px 12px;
          border: 2px solid #777e91;
          cursor: pointer;
        }

        button:hover {
          background-color: #f2994a;
          border: 2px solid #f2994a;
        }
      }
    }
  }

  .right {
    display: flex;
    gap: 32px;

    hr {
      width: 1px;
      height: 100%;
      background: #353945;
      border: 1px solid #353945;
    }

    .rightContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      h5 {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: #777e91;
      }

      .creator {
        display: flex;
        gap: 16px;

        .creatorImgDiv {
          position: relative;

          p {
            position: absolute;
            top: -15px;
            left: -15px;
            background: #fcfcfd;
            width: 24px;
            height: 24px;
            padding: 5px;
            text-align: center;
            border: 2px solid #141416;
            border-radius: 50%;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            color: #23262f;
            z-index: 1;
          }

          .creatorImg {
            border-radius: 50%;
            width: 56px;
            height: 56px;
            z-index: 0;
          }
        }

        .creatorNameDiv {
          display: flex;
          flex-direction: column;

          .name {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #fcfcfd;
          }

          .eth {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            color: #e6e8ec;

            span {
              color: #777e91;
            }
          }
        }
      }

      hr {
        width: 100%;
        height: 0px;
        background: #353945;
        color: #353945;
        border: 1px solid #353945;
      }

      .btn {
        border: 2px solid #777e91;
        border-radius: 90px;
        padding: 12px 16px;
        width: fit-content;
        color: #fcfcfd;
        cursor: pointer;
      }

      .btn:hover {
        background-color: #f2994a;
        border: 2px solid #f2994a;
      }
    }
  }
}
