@use "../../../styles/colors" as *;

.container {
  margin: auto;
  margin-top: 10rem;
  padding: auto 10rem;
  position: relative;

  @media screen and (max-width: 500px) {
    max-width: 26rem;
  }

  main {
    max-width: 80rem;
    margin: 2rem;
    margin: auto;
    // align-items: center;
  }

  .top {
    width: 98%;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 11px;
    font-weight: 600;
    border-top: solid 1px $grey2;
    border-bottom: solid 1px $grey2;
    padding: 1rem;

    .right {
      border: 2px solid $grey3;
      display: flex;
      gap: 5px;
      border-radius: 20px;
      padding: 5px 8px;
    }

    .left {
      span:nth-child(1) {
        color: $grey3;
      }

      display: flex;
      gap: 20px;
      align-items: center;
    }
  }

  .heading {
    display: flex;
    padding: 1rem;
    color: white;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: solid 1px $grey3;

    .left {
      display: flex;
      flex-direction: column;

      span {
        border: 2px solid $green;
        color: $green;
        width: fit-content;
        border-radius: 2px;
        padding: 2px 4px;
        font-size: 12px;
        font-weight: 600;
        text-transform: capitalize;
      }

      h2 {
        color: white;
        text-transform: capitalize;
        font-size: 3rem;
        margin: 0;
      }
    }

    .right {
      display: flex;
      gap: 1rem;

      button:nth-child(1) {
        background: $secondary-color;
        border: 1px solid $secondary-color;
      }

      button {
        font-size: 11px;
        border: 1px solid white;
        color: white;
        cursor: pointer;
        background: black;
        padding: 9px;
        font-weight: 600;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

.nav {
  color: white;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  padding: 1rem;

  .active {
    color: $secondary-color;
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @media only screen and (max-width: 500px) {
    justify-content: center;
  }

  div {
    background: $grey2;
    border-radius: 10px;
    padding: 2rem 3rem;
    color: white;
    text-align: center;

    span {
      font-size: 1.2rem;
      font-weight: 600;
    }

    h3 {
      font-size: 12px;
      margin: 0;
      color: white;
      width: 5rem;
    }
  }
}
