.root {
  width: 100%;
  overflow-x: hidden;

  button {
    cursor: pointer;
    z-index: 10;
    border: 2px solid #f2994a;
    background-color: #f2994a;
    color: #fcfcfd;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: auto;
    display: block;
  }

  .contributorImages {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;

    img {
      border-radius: 10px;
      width: 30rem;
      height: 30rem;
    }
  }

  main {
    display: flex;
    width: 90%;
    justify-content: space-between;

    .back {
      color: white;
      margin: 1.5rem;
      margin-bottom: 0;
      font-size: 1.5rem;
    }

    .img {
      position: relative;
      margin: auto;
      cursor: pointer;
      margin: auto;
      display: block;
      width: calc(211px + 10vw);
      height: calc(320px + 10vw);

      img {
        border-radius: 10px;
      }
    }

    section {
      flex: 10;
      background-color: #23262f;
      margin: 0 1rem;
      border-radius: 20px;
      height: 75vh;
      padding: 1rem;

      @media (max-width: 800px) {
        margin: 0;
        width: 100%;
      }
    }

    .header {
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 10px;

      @media (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        // margin: auto;
      }

      .avater {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
      }

      h3 {
        color: white;
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
      }

      h4 {
        color: white;
        margin: 0;
        font-size: 0.8rem;
      }
    }
  }

  .backButton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 153px;
    height: 40px;
    border: 2px solid #353945;
    border-radius: 90px;
    cursor: pointer;

    @media (max-width: 800px) {
      display: none;
    }

    .backText {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #fcfcfd;
    }
  }

  .breadcrumb {
    display: flex;
    gap: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #777e91;
    cursor: pointer;
  }

  .notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    padding-left: 9%;
    background: #141416;
    border-bottom: 1px solid #353945;
    box-sizing: border-box;

    @media (max-width: 800px) {
      padding: 0px;
      margin-top: 5rem;
    }

    .noteTitle {
      text-align: center;

      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        letter-spacing: -0.02em;
        color: #fcfcfd;

        @media (max-width: 800px) {
          font-size: 32px;
        }
      }
    }

    .body {
      p {
        color: #f1f1f1;
      }
    }

    .top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 85%;
      margin-bottom: 1rem;

      @media (max-width: 800px) {
        width: 100%;
      }

      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        letter-spacing: -0.02em;
        color: #fcfcfd;

        @media (max-width: 800px) {
          font-size: 32px;
        }
      }

      .markButton {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 153px;
        height: 40px;
        border: 2px solid #353945;
        border-radius: 90px;
        cursor: pointer;

        @media (max-width: 800px) {
          width: 120px;
        }

        .markText {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #fcfcfd;
          margin-top: 17px;
        }
      }
    }

    .nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
      width: 80%;
      margin: 64px 0 48px;

      @media (max-width: 800px) {
        width: 100%;
      }

      .navItem {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 12px;
        gap: 10px;
        width: 100px;
        height: 28px;
        background: #353945;
        border-radius: 100px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #fcfcfd;
        cursor: pointer;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      width: 28rem;
      cursor: pointer;
      height: 75vh;
      overflow-y: auto;
      overflow-x: hidden;

      @media (max-width: 800px) {
        width: 100%;
      }

      .listItemWrapper {
        display: flex;
        // padding: 0 20px;
        flex-direction: column;
        gap: 10px;
        // border-radius: 20px;
        width: 100%;

        .actions {
          justify-content: end;
          padding: 20px;

          button {
            cursor: pointer;
            border: 2px solid #f2994a;
            background-color: #f2994a;
            color: #fcfcfd;
            padding: 5px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }
      }

      .listItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
        width: 100%;
        position: relative;

        @media (max-width: 800px) {
          width: 90%;
          gap: 0;
        }

        .left {
          display: flex;
          align-items: center;

          @media (max-width: 800px) {
            gap: 0;
          }

          .avatar {
            border-radius: 50%;
            width: 128px;
            cursor: pointer;
            height: 128px;

            @media (max-width: 800px) {
              width: 80px;
              height: 80px;
            }
          }

          .desc {
            display: block;
            flex-direction: column;
            padding: 20px;

            @media (max-width: 800px) {
              width: 100%;
            }

            .title {
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              color: #fcfcfd;
              width: 15rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .sub {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              color: #e6e8ec;
            }

            .date {
              font-style: normal;
              font-weight: 600;
              font-size: 10px;
              color: #777e91;
            }
          }
        }
      }

      .listItemWrapper:hover {
        background-color: #23262f;
        width: 26rem;
        border-radius: 20px;
      }
    }
  }
}

.description {
  display: flex;
  color: white;
  gap: 1rem;
  align-items: center;
  font-size: larger;
  font-weight: 700;
}

.dot {
  width: 12px;
  height: 12px;
  background: #f2994a;
  border-radius: 16px;
  position: absolute;
  right: 50px;
}

.actions {
  display: flex;
  gap: 30px;
}

.active {
  background-color: #23262f;
  border-radius: 20px;
  width: 26rem;
}
