.profilepagesec1 {
  background-image: url("/assets/profilebg.png");
  background-size: 100% 100% cover;
  width: 100%;
  height: 24vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.profilepagesec1 button {
  width: 9.8vw;
  height: 2.9vw;
  border: 2px solid #777e91;
  border-radius: 90px;
  background-color: transparent;
  font-size: 1.17vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2vw;
  margin-bottom: 3vw;
}
.profilepagesec1 button span img {
  width: 1.17vw;
  height: 1.17vw;
}
.profilepagecard {
  width: 18vw;
  height: 50vw;
  border: 1px solid #353945;
  background: #23262f;
  border-radius: 16px;
}
.profilecardimg img {
  width: 11.7vw;
  height: 11.7vw;
}
.profilecardname h4 {
  font-size: 1.7vw;
  color: white;
  font-weight: 500;
}
.profileid p {
  font-size: 1.1vw;
  color: white;
}
.profileid img {
  width: 1.1vw;
  height: 1.1vw;
}
.profileid {
  display: flex;
  align-items: center;
  margin-top: -1vw;
}
.profilecardname {
  line-height: 0vw;
}
.profilecarddesc p {
  font-size: 1.1vw;
  color: #777e91;
  text-align: center;
}
.profilecardwebsitelink img {
  width: 1.17vw;
  height: 1.17vw;
}
.profilecardwebsitelink p {
  font-size: 1.17vw;
  color: white;
}
.profilecardwebsitelink {
  display: flex;
  align-items: center;
}
.followbtn {
  width: 5.5vw;
  height: 2.9vw;
  background: #f2994a;
  border-radius: 90px;
  color: white;
  font-size: 1vw;
  border: none;
}
.iconbtn {
  width: 2.9vw;
  height: 2.9vw;
  border-radius: 40px;
  border: 2px solid #353945;
  background-color: transparent;
}
.iconbtn span img {
  width: 1.4vw;
  height: 1.4vw;
}
.profilecardbtns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.profilecardsocialicons img {
  width: 1.4vw;
  height: 1.4vw;
}
.profilecardsocialicons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3vw;
  width: 100%;
}
.profilecarddivider {
  width: 14vw;
  height: 0.1vw;
  background: #353945;
  margin-top: 3vw;
}
.membersince p {
  font-size: 1vw;
  color: #777e91;
}
.profilepagecard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tablink {
  font-size: 1.1vw;
  color: #777e91;
  list-style-type: none;
}
.headlinks ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28vw;
}
.uploaditembtn button {
  width: 8.4vw;
  height: 2.9vw;
  background: #f2994a;
  border-radius: 90px;
  font-size: 1vw;
  color: white;
  border: none;
}
.profilepagesec2head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58vw;
}
.profilepagesec2con {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}
.profilepagecard {
  margin-top: -10vw;
}
.profilepagesec2parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.active {
  color: #f2994a;
  font-size: 1.1vw;
  list-style-type: none;
}
@media only screen and (max-width: 600px) {
  .profilepagesec2con {
    flex-direction: column;
    align-items: center !important;
  }
  .profilepagesec1 {
    height: 50vw !important;
  }
  .profilepagesec1 button {
    width: 18vw !important;
    height: 6vw !important;
    font-size: 2vw !important;
  }
  .profilepagesec1 button span img {
    width: 2vw !important;
    height: 2vw !important;
  }
  .profilepagecard {
    width: 50vw !important;
    height: 110vw !important;
  }
  .profilecardimg img {
    width: 30vw !important;
    height: 30vw !important;
  }
  .profilecardname h4 {
    font-size: 5vw !important;
  }
  .profileid p {
    font-size: 3vw !important;
  }
  .profileid img {
    width: 3vw !important;
    height: 3vw !important;
  }
  .profilecarddesc p {
    font-size: 3.5vw !important;
  }
  .profileid {
    margin-top: -3vw !important;
  }
  .profilecardwebsitelink p {
    font-size: 3vw !important;
  }
  .profilecardwebsitelink img {
    width: 3vw !important;
    height: 3vw !important;
  }
  .followbtn {
    width: 15vw !important;
    height: 6vw !important;
    font-size: 2.5vw !important;
  }
  .iconbtn {
    width: 7vw !important;
    height: 7vw !important;
  }
  .profilecardsocialicons img {
    width: 6vw !important;
    height: 6vw !important;
  }
  .profilecarddivider {
    width: 40vw !important;
  }
  .membersince p {
    font-size: 3vw !important;
  }
  .headlinks ul {
    width: 40vw !important;
  }
  .profilepagesec2head {
    width: 70vw !important;
  }
  .active {
    font-size: 2vw !important;
  }
  .tablink {
    font-size: 2vw !important;
  }
  .uploaditembtn button {
    width: 15vw !important;
    height: 5vw !important;
    font-size: 2vw !important;
  }
}
