.listingsubcardsec1 img {
  width: 15vw;
  height: 20vh;
  border-radius: 5px;
}
.listingsubpricesec img {
  width: 1.7vw;
  height: 2.9vh;
}
.listingsubpricesec span {
  font-size: 1.1vw;
  color: #777e91;
  margin-left: 1vw;
}
.listingsubpricesec {
  display: flex;
  justify-content: center;
  margin-bottom: -1vh;
  margin-top: -2vh;
}
.listingcardsec2pricecon {
  margin-left: 1vw;
  align-items: center;
}
.listingsubcardsec2heading {
  font-size: 2vw;
  color: white;
  // margin-bottom: -1vw;
  margin-top: -1vh;
}
.listingcardsubsec2btn button {
  width: 7.2vw;
  height: 2.3vw;
  border-radius: 90px;
  border: 2px solid #777e91;
  font-size: 1vw;
  background-color: transparent;
  color: white;
  margin-top: 0vw;
}
.listingsubcard {
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 3%;
}
.listingsubcardsec2 {
  margin-top: 0vw;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.show {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .listingsubcardsec1 img {
    width: 30vw;
    height: 22vw;
  }
  .listingsubcardsec2heading {
    font-size: 4vw;
  }
  .listingsubpricesec img {
    width: 4vw;
    height: 3vh;
  }
  .listingcardsec2price p {
    font-size: 2vw;
  }
  .listingcardsubsec2btn button {
    width: 15vw;
    height: 5vw;
    font-size: 2vw;
  }
}
