.layout {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  @media (max-width: 1024px) {
    width: 100%;
  }

  .sidebar {
    width: 400px;
    height: 130vh !important;
    position: fixed;
    top: 0;
    left: 0;
    @media (max-width: 1024px) {
      position: fixed;
      margin-left: -150%;
      transition: 5s;
      z-index: 20;
    }
  }

  .children {
    width: calc(100% - 0px);
    justify-content: right;
    padding: 100px;
    display: flex;
    // justify-content: center;
    // align-items: flex-start;
    text-align: center;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}
