@use "../../styles/colors" as *;

.itemdetailsforminputSearch {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;

  label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
  }

  .inputSection {
    display: flex;
    gap: 2rem;

    button {
      color: white;
      background: $grey2;
      border: 0;
      border-radius: 30px;
      cursor: pointer;
      padding: 10px;
      text-align: center;
      font-weight: 700;
      font-size: 1rem;
      white-space: nowrap;
      width: 4rem;
    }
  }

  input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    margin-left: 1rem;
    border: 2px solid #353945;
    border-radius: 12px;
    background-color: transparent;
    color: #ffffff;
    width: 50%;
    outline: none;

    ::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }

    :focus {
      outline: none;
      color: #fcfcfd;
    }
  }

  select {
    line-height: 30px;
    color: #777e91;

    option {
      color: #777e91;
      background-color: #000000;
    }
  }

  span {
    color: orangered;
  }

  .itemImagesDiv {
    position: relative;
    display: flex;
    gap: 8px;
    // overflow-x: scroll !important;
    overflow-y: hidden;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px 0;

    div {
      // display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      border-radius: 12px;
      width: 112px;
      height: 88px;
    }

    .userImage {
      position: relative;
      border: 2px solid #353945;
      width: 112px;
      height: 88px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;

      .closeIcon {
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
        z-index: 9;
      }
    }
  }

  .searchResults {
    position: absolute;
    top: 65px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #353945;
    z-index: 10;
    padding: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    span {
      color: #fcfcfd;
      cursor: pointer;
    }
  }

  .itemImagesDiv::-webkit-scrollbar {
    display: none;
    height: 5px;
  }
}

.itemImagesDiv {
  position: relative;
  display: flex;
  gap: 8px;
  overflow-y: hidden;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 20px 0;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    border-radius: 12px;
    width: 112px;
    height: 88px;
  }

  .userImage {
    position: relative;
    border: 2px solid #353945;
    width: 112px;
    height: 88px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    .closeIcon {
      position: absolute;
      top: 3px;
      right: 3px;
      cursor: pointer;
      z-index: 9;
    }
  }
}

.itemdetailsforminputSearch {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;

  label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
  }

  input,
  select {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 10px;
    border: 2px solid #353945;
    border-radius: 12px;
    background-color: transparent;
    color: #ffffff;
    // height: 48px;
    width: 50%;
    outline: none;

    ::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }

    :focus {
      outline: none;
      color: #fcfcfd;
    }
  }

  select {
    line-height: 30px;
    color: #777e91;

    option {
      color: #777e91;
      background-color: #000000;
    }
  }

  span {
    color: orangered;
  }

  .itemImagesDiv {
    position: relative;
    display: flex;
    gap: 8px;
    // overflow-x: scroll !important;
    overflow-y: hidden;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px 0;

    div {
      // display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      border-radius: 12px;
      width: 112px;
      height: 88px;
    }

    .userImage {
      position: relative;
      border: 2px solid #353945;
      width: 112px;
      height: 88px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;

      .closeIcon {
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
        z-index: 9;
      }
    }
  }

  .searchResults {
    position: absolute;
    top: 65px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #353945;
    z-index: 10;
    padding: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    span {
      color: #fcfcfd;
      cursor: pointer;
    }
  }

  .itemImagesDiv::-webkit-scrollbar {
    display: none;
    height: 5px;
  }
}
