.watchlist {
  @media screen and (max-width: 500px) {
    margin: 1rem;
  }

  h3 {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.center {
  display: flex;
  max-width: 80rem;
  gap: 32px;
  margin-bottom: 2rem;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .cards {
    display: grid;
    gap: 24px;
    width: 18rem;
    cursor: pointer;

    button {
      color: white;
      border-radius: 20px;
      border: 1px solid;
      background: black;
      padding: 8px;
    }

    .cardImg {
      border-radius: 12px;
    }

    .previewcardprice {
      border: 1px solid #45b36b;
      color: #45b36b;
      padding: 3px 3px;
      border-radius: 4px;
      font-size: 12px;
    }

    .cardDetails {
      display: flex;
      justify-content: space-between;
      gap: 16px;

      .cardName {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fcfcfd;
        display: flex;
        width: 18rem;
        justify-content: space-between;
      }

      .centerDiv {
        display: flex;
        align-items: center;
        gap: 11px;

        .centerDivImg {
          border-radius: 50%;
        }

        span {
          border: 2px solid #45b36b;
          border-radius: 4px;
          padding: 8px 8px 6px;
          font-weight: 700;
          color: #45b36b;
          font-size: 12px;
          line-height: 12px;
        }
      }

      button {
        background: transparent;
        border-radius: 90px;
        color: #fcfcfd;
        padding: 8px 12px;
        border: 2px solid #777e91;
        cursor: pointer;
      }

      button:hover {
        background-color: #f2994a;
        border: 2px solid #f2994a;
      }
    }
  }
}
