.animationBack {
  background-image: url("/assets/71699-background.gif");
  background-size: 50vw 30vw;
  background-position-y: -5vw;
}
.updatefromcreatorheading {
  font-size: 12px;
  color: #777e90;
  max-height: 60%;
}
.updatefromcreatorparent {
  padding: 10px;
}
.discovermore button {
  width: 150px;
  height: 40px;
  border-radius: 90px;
  border: 2px solid #777e91;
  font-size: 10px;
  align-items: center;
  background-color: transparent;
  color: white;
  margin-top: 50px;
}
.discovermore button span img {
  width: 10px;
  height: 5px;
}
.listingsubcardparent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.listingcardparent {
  display: grid;
  grid-template-columns: 2fr 1.8fr 1fr;
  margin-top: 170px;
  height: 700px;
  margin-bottom: 50px;
  padding: 10px;
  gap: 20px;
  width: 100%;
  padding: 30px;
}
.hotcollectioncardparent h2 {
  font-size: 2.4vw;
  color: white;
  font-weight: 500;
  padding-left: 2.5vw;
}
.hotcollectioncardcontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hotcollectioncardparent {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #23262f;
}
.updateformholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  height: 50%;
  border-left: 1px solid #353945;
}
.discoverdividercon {
  width: 100%;
  height: 0.1vw;
  background: #23262f;
}
@media only screen and (min-width: 600px) {
  .hotcollectionmobilecon {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .listingcardparent {
    flex-direction: column;
    margin-top: 118px;
    // align-items: center;
    padding: 20px;
    width: 100%;
    height: 900px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
  }
  .listingsubcardparent {
    display: none;
  }
  .updatefromcreatorparent {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hotcollectioncardcontainer {
    flex-direction: column;
  }
  .hotcollectioncardwrapper {
    display: none;
  }
  .updatefromcreatorheading {
    font-size: 12px;
    text-align: left;
    margin-top: -20px;
  }
  .discovermore button {
    // width: 30vw;
    // height: 5vh;
    display: none;
  }
  .updateformholder {
    display: flex;
    width: 100vw;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1400px) {
  // .listingcardparent {
  //   display: grid;
  //   grid-template-columns: 2fr 1.8fr 1fr;
  //   width: 100%;
  //   gap: 30px;
  // }
}
