.customInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 18px 0;
  border: 2px solid #353945;
  border-radius: 12px;
  box-sizing: border-box;
  width: 100%;

  select {
    appearance: none;
    border: none;
    margin: 0;
    width: 100%;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;
    color: white;
    background-color: #000;
  }
}
