.updatefromcreatorheading {
  font-size: 1vw;
  color: #777e90;
}
.updatefromcreatorparent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 30vw;
  border-left: 2px solid #353945;
  padding-left: 2vw;
}
.discovermore button {
  width: 11.4vw;
  height: 2.9vw;
  border-radius: 90px;
  border: 2px solid #777e91;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  color: white;
}
.discovermore button span img {
  width: 1.1vw;
  height: 1.1vw;
}
.listingsubcardparent {
  display: flex;
  flex: 2;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 40vw;
}
.listingcardparent {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 50px;
  height: 600px;
}
