.watchlist {
  margin: auto;

  h3 {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.center {
  display: flex;

  max-width: 50rem;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 2rem;

  .cards {
    .cardImg {
      border-radius: 12px;
    }

    .cardDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;

      .cardName {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fcfcfd;
      }

      div {
        display: flex;
        align-items: center;

        span {
          color: white;
        }
      }
    }
  }
}

.history {
  color: white;

  section {
    height: 4.8rem;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
