@use "../../styles/colors" as *;

.root {
  @media screen and (max-width: 640px) {
    padding: 150px 20px;
  }
  @media screen and (min-width: 1440px) {
    padding: 150px 15%;
  }
  @media screen and (max-width: 1024px) {
    padding: 150px 20px;
  }
}
.container {
  // margin: auto 12%;
  // margin-top: 10rem;
  display: flex;
  // padding: auto 15vw;
  // max-width: 70%;
  position: relative;

  @media screen and (max-width: 500px) {
    max-width: 26rem;
  }

  .main {
    max-width: 50rem;

    @media screen and (max-width: 800px) {
      max-width: 44rem;
    }

    @media screen and (max-width: 500px) {
      max-width: 26rem;
    }
  }

  .bottom {
    padding-left: 1.2rem;
    margin: auto;
  }

  .tabs {
    margin-left: 2rem;
    transition: all;

    @media screen and (max-width: 500px) {
      margin-left: 10px;
      overflow: auto;
    }
  }

  .collections {
    display: flex;
    gap: 1rem;
    max-width: 50rem;
    overflow-x: scroll;
    overflow-y: hidden;
    user-select: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .collection {
      width: 50rem;
    }
  }

  .sidebar {
    width: 20rem;
    color: $grey3;
    margin-right: 4rem;

    @media screen and (max-width: 1000px) {
      margin-right: 2rem;
      margin-left: -1rem;
      width: 10rem;
    }

    @media screen and (max-width: 640px) {
      display: none;
    }

    li {
      display: flex;
      gap: 1rem;
      width: 10rem;
      list-style: none;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: calc(100% - 20rem);
  }
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;

  @media only screen and (max-width: 500px) {
    justify-content: center;
  }

  div {
    background: $grey2;
    border-radius: 10px;
    padding: 2.5rem 2rem;
    color: #f2994a;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 2fr;
    gap: 20px;

    span {
      font-size: 1.2rem;
      font-weight: 600;
    }

    h3 {
      font-size: 0.8rem;
      margin: 0;
      font-weight: 700;
      color: white;
      max-width: 6rem;
    }
  }
}
