@use "../../../styles/colors" as *;

.avatar {
  display: flex;
  align-items: center;

  div {
    span {
      color: white;
    }
  }
}

.main {
  display: flex;
  width: fit-content;
  border: $grey2 2px solid;
  border-radius: 20px;
  gap: 1.5rem;
  padding: 3px 10px;

  span {
    color: $grey3;
    font-weight: bold;
    cursor: pointer;
  }

  span:hover {
    color: white;
  }

  .active {
    background-color: $greylight;
    border-radius: 12px;
    color: $grey;
    padding: 0 10px;
  }
}

.profileInfoCard {
  margin-top: 2rem;

  div {
    display: flex;
    gap: 1rem;
  }

  span {
    display: block;
    font-size: 1.1rem;
    color: $grey3;
  }

  span:nth-child(2) {
    color: white;
  }

  .buttons {
    display: flex;

    .close {
      background: $blue;
    }
  }

  button {
    color: white;
    background: $secondary-color;
    border-radius: 30px;
    padding: 18px 10px;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1rem;
    width: 12rem;
    border: 0px;
  }
}
