.landingMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.subHead {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #777e91;
}
.headOne {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 1px;
  color: #fcfcfc;
}
.headTwo {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 1px;
  color: #fcfcfc;
  margin-bottom: 20px;
}
.headColor {
  color: #f2994a;
}
.landingBtn {
  border: 2px solid #777e91;
  border-radius: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 12px;
  background: transparent;
  color: #777e91;
  margin-bottom: 128px;
}
.lottieBg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: yellow;
}

@media screen and (max-width: 600px) {
  .headOne .headTwo {
    font-size: 30px;
  }
  // .landingMain {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: space-between;
  //   height: 40vw;
  //   margin-top: 8vw;
  // }
  // .subHead {
  //   font-size: 2.2vw;
  //   color: #777e90;
  // }
  // .headOne {
  //   font-size: 7vw;
  //   font-weight: 600;
  //   color: #fcfcfc;
  // }
  // .headTwo {
  //   font-size: 7vw;
  //   font-weight: 600;
  //   color: #fcfcfc;
  //   margin-top: 2vw;
  // }
  // .landingBtn {
  //   color: #fcfcfc;
  //   border: 2px solid #777e90;
  //   background-color: transparent;
  //   font-size: 4vw;
  //   font-weight: 700;
  //   border-radius: 90px;
  //   width: 38vw;
  //   height: 10vw;
  //   padding: 2vw 0;
  //   cursor: pointer;
  //   margin-top: 4vw;
  // }
}
